#Ignore everything else in the html folder to avoid adding subview. Change file content as needed
html/*
linter*
#Only include the following. Change file content as needed
!html/
!html/layouts/
!html/common/
!html/errors/
!README.md
!view.json