<li id="profile-dropdown" class="nav-item dropdown text-uppercase">
    {% set profile = access.auth.account()['contact'] %}
    <a id="profile-portrait" class="nav-link" data-toggle="dropdown" href="#" aria-expanded="true">
        {% if profile['portrait'] is defined and profile['portrait'] !== '' %}
            <img src="{{links.url('system/storages/q/uuid/' ~ profile['portrait'] ~ '/w/30')}}" class="rounded-sm" style="position:relative;top: -3px; width:25px;" alt="User Image">
            <i class="fa fa-fw fa-user" hidden></i>
            {% set profilePortrait = links.url('system/storages/q/uuid/' ~ profile['portrait'] ~ '/w/80') %}
        {% elseif profile['initials_avatar']['small'] is defined and profile['initials_avatar']['small'] !== '' %}
            <img src="data:image/png;base64,{{profile['initials_avatar']['small']}}" class="rounded-sm" style="position:relative;top: -3px; width:25px;" alt="User Image">
            <i class="fa fa-fw fa-user" hidden></i>
            {% set profilePortrait = profile['initials_avatar']['small'] %}
        {% else %}
            <i class="fa fa-fw fa-user"></i>
            {% set profilePortrait = links.images('general/user.png') %}
        {% endif %}
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <a href="{{links.url('system/users/profile')}}" id="profile" class="dropdown-item contentAjaxLink">
            <i class="fa fa-fw fa-id-card mr-2"></i> Profile
        </a>
        <div class="dropdown-divider"></div>
        <a href="{{links.url('auth/logout')}}" id="logout" class="dropdown-item text-danger">
            <i class="fa fa-fw fa-sign-out-alt mr-2"></i> Logout
        </a>
    </div>
</li>
