{% if replaceKeys is not defined %}
    {% set replaceKeys = [] %}
{% endif %}
{% if replaceValues is not defined %}
    {% set replaceValues = [] %}
{% endif %}
{% if disableKeys is not defined %}
    {% set disableKeys = [] %}
{% endif %}
{{adminltetags.useTag('content',
    [
        'component'                     : component,
        'componentName'                 : componentName,
        'componentId'                   : componentId,
        'parentComponentId'             : parent,
        'sectionId'                     : 'activitylogs',
        'contentType'                   : 'section',
        'cardHeader'                    : true,
        'cardFooter'                    : true,
        'cardType'                      : 'primary',
        'cardIcon'                      : 'list',
        'cardTitle'                     : 'Activity Logs',
        'cardAdditionalClass'           : 'rounded-0',
        'cardShowTools'                 : ['form'],
        'cardBodyContent'               : adminltetags.useTag('activitylogs',
            [
                'component'                     : component,
                'componentName'                 : componentName,
                'componentId'                   : componentId,
                'sectionId'                     : 'activitylogs',
                'activityLogs'                  : activityLogs,
                'replaceKeys'                   : replaceKeys,
                'replaceValues'                 : replaceValues,
                'disableKeys'                   : disableKeys
            ]
        ),
        'sectionButtons'                   :
        [
            'closeActionUrl'                : closeActionUrl
        ]
    ]
)}}
